body {
    background-color:lightcyan;
    margin-left: 10%;
    margin-right: 10%;
}
a:link {  
    color:darkgreen;  
}
a:visited {  
    color: darkcyan;  
}
a:hover {
    color: red;
}
a:active {
    color: blue
}
h1,h2,h3 {
    color: darkgreen;
}
h1 {
    font-family: "Marker Felt", fantasy, sans-serif ;
    font-size:4em;
    margin-bottom:0px;
    margin-top: 20px;
}
h2 {
    font-family: snell, "apple chancery", fantasy, sans-serif;
    font-style: italic;
    font-size: 3em;
}
h3 {
    font-family: cursive, snell, "apple chancery", fantasy, sans-serif;
    font-style: italic;
    font-size: 2.25em;
}
p {
    text-align: justify;
    font-family: Arial, sans-serif;
    color: midnightblue;
    padding: 0px 50px;
    font-size: 1.5em;
}
div.header, div.headercontent, div.homeheader, div.footer, div.epcotheader, div.dlheader, div.hsheader, div.sdheader,
div.cabheader, div.smheader {
    border: darkcyan;
    background-color: powderblue;
    border-radius: 25px;
    display:flex;
    border-style:dotted;
}
div.headercontent {
    margin:0% 30%;
    justify-content:space-between;
}
div.cabheader {
    margin:0% 37.5%;
    justify-content:space-between;
}
div.smheader {
    margin:0% 34.5%;
    justify-content:space-between;
}
div.epcotheader {
    margin:0% 32.5%;
    justify-content:space-between;
}
div.dlheader {
    margin:0% 35%;
    justify-content:space-between;
}
div.hsheader {
    margin:0% 27.5%;
    justify-content:space-between;
}
div.sdheader {
    margin:0% 32%;
    justify-content:space-between;
}
div.header {
    margin:0% 5%;
    justify-content:space-between;
}
div.homeheader {
    margin:0% 5%;
    justify-content:space-between;
}
div.headerstuff {
    padding:15px;
    font-size: 1.40em;
    font-family: "Brush Script MT", sans-serif;
    text-align: center;
}
div.footer {
    flex-direction: column ;
    padding: 15px;
    margin:2% 5%;
}
div.footerstuff {
    color: darkcyan;
    font-size: 1.40em;
    padding-left: 10px;
    font-family: "Brush Script MT", sans-serif;
}
img#everestday {
    float: right;
    border-radius:25px;
    margin: 0em 0em 0em .75em;
    width:45%;
}
video#everestmove {
    float:right;
    width:35%;
    border-radius:25px;
    margin: .25em 0em 0em .75em;
}
video#everestanimation, video#amode, video#bmode {
    float:left;
    width:50%;
    border-radius:25px;
    margin: .25em .75em .5em 0em;
}
span#everestfloat {
    border-radius: 25px;
    float: left;
    margin: 0em .75em 0em 0em;
    width: 140px;
    border:dotted;
    border-color:darkcyan;
    background-color: powderblue;
    padding: 10px;
    color: darkcyan;
}
span#rohdequote {
    border-radius: 25px;
    float: right;
    margin: 0em 0em 0em 0.75em;
    width: 200px;
    border:dotted;
    border-color:darkcyan;
    background-color: powderblue;
    padding: 10px;
    color: darkcyan;
}
span#dinosaurfloat {
    border-radius: 25px;
    float: left;
    margin: 0em 0.75em 0em 0em;
    width: 135px;
    border:dotted;
    border-color:darkcyan;
    background-color: powderblue;
    padding: 10px;
    color: darkcyan;
    text-align: left;
}
span#dinosaur2float {
    border-radius: 25px;
    float: left;
    margin: 0em 0.75em 0em 0em;
    width: 145px;
    border:dotted;
    border-color:darkcyan;
    background-color: powderblue;
    padding: 10px;
    color: darkcyan;
}
span#peoplemoverfloat {
    border-radius: 25px;
    float: left;
    margin: 0em 0.75em 0em 0em;
    width: 160px;
    border:dotted;
    border-color:darkcyan;
    background-color: powderblue;
    padding: 10px;
    color: darkcyan;
    text-align: left;
}
span#tcfloat {
    border-radius: 25px;
    float: left;
    margin: 0em 0.75em 0em 0em;
    width: 130px;
    border:dotted;
    border-color:darkcyan;
    background-color: powderblue;
    padding: 10px;
    color: darkcyan;
    text-align: left;
}
span#ijfloat {
    border-radius: 25px;
    float: left;
    margin: 0em 0.75em 0em 0em;
    width: 145px;
    border:dotted;
    border-color:darkcyan;
    background-color: powderblue;
    padding: 10px;
    color: darkcyan;
}
span#splashfloat {
    border-radius: 25px;
    float: left;
    margin: 0em 0.75em 0em 0em;
    width: 145px;
    border:dotted;
    border-color:darkcyan;
    background-color: powderblue;
    padding: 10px;
    color: darkcyan;
    text-align: left;
}
span#splash2float, span#splash3float {
    border-radius: 25px;
    float: right;
    margin: 0em 0em 0em 0.75em;
    width: 150px;
    border:dotted;
    border-color:darkcyan;
    background-color: powderblue;
    padding: 10px;
    color: darkcyan;
    text-align: left;
}
div.piclinks {
    text-align: center;
}
img#joe {
    border-radius: 25px;
    float: right;
    margin: 0em 0em 0em .75em;
    width: 300px;
}
img.pic {
    width:300px;
    height:300px;
}
h1#homepagetitle, h3#homepagecaption {
    text-align:center;
}
a {
    text-decoration:none;
}
video.mode {
    width:45%;
    border-radius: 25px;
}
p.comparisontxt {
    padding-top:100px;
    padding-bottom:100px;
}
